@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed');

html,
body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  min-height: 100vh;
}

a, a:link, a:hover,
a:visited {
  text-decoration: none;
}

a, a:link { color: #6441a4; }

a:hover { text-decoration: underline; }

img, .no-img {
  background-color: grey;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 1.5rem;
}

footer {
  background-color: #201c2b;
  padding: 2rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
}

footer > a { color: #d7cceb; }

.btn {
  border: 0;
  background-color: #8367b6;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
}

.btn.active, .btn:active { background-color: #6441a4; }
.btn:hover { background-color: #6441a4; }
.btn:focus { outline: none; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  flex: 1;
}

.green { color: green; }

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #6441a4;
  padding: 0.5rem 1.5rem;
}

.navbar {
  background-color: #8367b6;
  display: flex;
  justify-content: flex-end;
}

.navbar-links {
  display: inherit;
}

.navbar-underline {
  background-color: #b5a4d3;
  height: 0.5rem;
}

.stream {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  margin: 0.5rem;
  width: 100%;
  max-width: 850px;
}

.stream-desc {
  margin-left: 1.5rem;
}

.stream-desc > p {
  text-transform: uppercase;
  font-size: 11px;
  color: #706a7c;
}

.stream-title {
  font-size: 1.5rem;
  font-weight: 800;
}

.title {
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
  margin-left: 1rem;
}

